.layout {
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  border-radius: 30px;

  .result {
    flex: 0.7;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: #fff;
    padding: 0.5em;
    font-size: 3em;
    background-color: black;
    border-radius: 30px;
  }

  .pad {
    padding: 1em 0;
    background-color: black;
    border-radius: 30px;

    ul {
      height: 100%;
      margin: 0;
      padding: 15px 15px;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0.4em;
      .symbol {
        span {
          background-color: orange;
          font-weight: 700;
        }
      }

      .clear,
      .negativePositive,
      .percentage {
        span {
          background-color: rgb(137, 133, 125);
          color: black;
          font-weight: 700;
        }
      }

      li {
        padding-bottom: 100%;
        position: relative;

        span {
          height: 90%;
          width: 90%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          border-radius: 50%;
          background-color: red;
          border: 1px solid black;
          cursor: pointer;
          color: white;
          font-size: 25px;
          font-weight: 700;
        }
      }
      .number,
      .equal,
      .decimal {
        span {
          background-color: rgb(65, 64, 64);
          font-weight: 400;
        }
      }
    }
  }
}
